.about-div-title-collapse {
  width: 70%;
}

.about-collapse-text {
  width: 70%;
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .about-collapse-text {
    font-size: 15px;
    padding-bottom: 1.5em;
  }
}

@media screen and (max-width: 750px) {
  .about-div-title-collapse {
    width: 85%;
    height: 2.3em;
    font-size: 16px;
    padding-bottom: 2px;
  }
  .about-collapse-text {
    width: 85%;
    font-size: 13px;
    padding-bottom: 3em;
  }
}
