.about-div-title-collapse {
  width: 70%;
  align-self: center;
  font-size: 1.5vw;
}

.about-collapse-text {
  width: 70%;
  align-self: center;
  font-size: 1.1vw;
}

/*Mediaqueries*/
/*Écran tablette*/
@media screen and (max-width: 800px) {
  .height-mobile {
    margin-top: -1em;
  }
  .about-div-title-collapse {
    font-size: 16px;
  }
  .about-collapse-text {
    font-size: 13px;
  }
}

/*Écran mobile*/
@media screen and (max-width: 550px) {
  .height-mobile {
    height: 10em;
    margin-top: -1.5em;
  }
  .about-div-title-collapse {
    width: 85%;
    height: 2em;
    font-size: 14px;
    padding-bottom: 0.5em;
  }
  .about-collapse-text {
    width: 85%;
    font-size: 12px;
    padding-bottom: 2em;
  }
}
