.div-home{
    display: flex;
    flex-direction: column;
}

/* Place du contenu sur petit écran */
@media screen and (min-width:360px) and (max-width:1200px){
    .div-home{
        margin-top: -2em;
    }
}

/* Place du contenu sur petit mobile */
@media screen and (max-width:360px){
    .div-home{
        margin-top: -5em;
    }
}