/* Div du titre et du host  */
.div-title-and-host {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

/* Collapse div  */
.div-collapse-places {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

/* Collapse titre et texte  */
.places-collapse-text {
  width: 70%;
  padding: 1em 0.5em 0.5em 0.5em;
}

.places-div-title-collapse {
  width: 70%;
  padding: 0em 0.5em 0em 0.5em;
}

/* Tags  */
.tags-div {
  display: flex;
}
