/* Div du titre et du host  */
.div-title-and-host {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

/* Collapse div  */
.div-collapse-places {
  display: flex;
  justify-content: space-between;
}

/* Collapse titre et texte  */
.places-collapse-text {
  width: 50%;
}

.places-div-title-collapse {
  width: 50%;
}

/* Tags  */
.tags-div {
  display: flex;
}
