.div-banner{
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.banner{
    width: 90%;
    height: 12em;
    object-fit: cover;
    border-radius: 1.5em;
    mix-blend-mode: darken;
    filter: brightness(0.6);
}

.banner-title{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 48px;
    position: absolute;
    top: 3.4em;
}

/* Taille de la bannière entre tablette et petit écran */
@media screen and (min-width:768px) and (max-width:1200px){
    
    .banner{
        width: 90%;
        height: 9em;
    }
}

/* Taille et place du texte sur tablette et petit écran */
@media screen and (min-width:768px) and (max-width:1200px){
    
    .banner-title{
        font-size: 38px;
        position: absolute;
        top: 3.8em;
    }
}
