.div-banner {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.banner {
  width: 90%;
  height: 15vw;
  object-fit: cover;
  border-radius: 1.5em;
  mix-blend-mode: darken;
  filter: brightness(0.6);
}

.banner-title {
  color: white;
  font-weight: 500;
  font-size: 4vw;
  position: absolute;
  align-self: center;
}

/* //////Mediaqueries\\\\\\ */
/* Mobile */
@media screen and (max-width: 550px) {
  .banner {
    width: 90%;
    height: 7em;
    border-radius: 10px;
  }

  .banner-title {
    font-size: 6vw;
    width: 80%;
  }
}
