.div-one-collapse {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0em 0em 0em;
}

.collapse-title {
  color: white;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin: 0.5em 0em 0.8em 0em;
}

.chevron {
  color: white;
  font-size: 22px;
  margin-top: 0.4em;
}

/* CSS par défaut du titre et du texte du collapse  */
.classDefaultUseTitleCollapse {
  background-color: #ff6060;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0em 0.5em 0em 0.5em;
}

.classDefaultUseTextCollapse {
  color: #ff6060;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  background-color: #f6f6f6;
  margin-top: 0em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1em 0.5em 0.5em 0.5em;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .collapse-title {
    font-size: 15px;
    margin: 0.5em 0em 0.6em 0em;
  }

  .chevron-up {
    font-size: 17px;
    margin-top: 0.6em;
  }
}
