.logo-header {
  width: 11vw;
  height: 5vw;
  margin-left: 5vw;
}

@media screen and (max-width: 1100px) {
  .logo-header {
    margin-top: 1.5vw;
  }
}

/*Mediaqueries*/
/* Pour les téléphones */
@media screen and (max-width: 550px) {
  .logo-header {
    width: 4.5em;
    height: 1.8em;
    margin-top: 1em;
  }
}
