.header-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
  width: 100%;
}

.ul-header {
  display: flex;
  margin-right: 3vw;
}

.a-header {
  color: #ff6060;
}

.a-header:focus {
  border-bottom: 1px solid #ff6060;
}

.a-header:hover {
  border-bottom: 1px solid #ff6060;
}

.li-header {
  margin: 1.5em 3em 0em 3em;
}

/*Mediaqueries*/
@media screen and (max-width: 1100px) {
  .ul-header {
    font-size: 1.5vw;
    margin-top: 1vw;
  }
}

/*Marge du <ul> par rapport au logo à partir de 560px*/
@media screen and (max-width: 560px) {
  .ul-header {
    font-size: 2.5vw;
    margin-top: 1.8vw;
  }
  .a-header {
    text-transform: uppercase;
  }
}

@media screen and (max-width: 425px) {
  .ul-header {
    margin-top: 2.5vw;
  }
}

@media screen and (max-width: 340px) {
  .ul-header {
    font-size: 2.3vw;
    margin-top: 6vw;
  }
}
