.place-location {
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.place-title {
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

/* Tablette*/
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .place-title {
    font-size: 18px;
  }
  .place-location {
    font-size: 14px;
  }
}

/* Mobile grand écran*/
@media screen and (min-width: 360px) and (max-width: 600px) {
  .place-title {
    font-size: 16px;
    margin: 0em 1em 0em 0em;
  }
  .place-location {
    font-size: 14px;
  }
}

/* Mobile petit écran*/
@media screen and (max-width: 360px) {
  .place-title {
    font-size: 15px;
    margin-left: 0em;
  }
  .place-location {
    font-size: 12px;
  }
}
