.place-location{
    color: #FF6060;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.place-title{
    color: #FF6060;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
}