.place-tags {
  background-color: #ff6060;
  color: white;
  font-family: "Montserrat", sans-serif;
  width: 10%;
  font-size: 13px;
  font-weight: 500;
  padding: 6px;
  border-radius: 10px;
  margin-right: 1em;
  text-align: center;
}

/*Petit ordinateur */
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .place-tags {
    font-size: 10px;
  }
}

/* Tablette*/
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .place-tags {
    width: 15%;
    font-size: 8px;
  }
}

/* Mobile grand écran*/
@media screen and (min-width: 360px) and (max-width: 600px) {
  .place-tags {
    width: 27%;
    font-size: 7px;
    border-radius: 5px;
  }
}

/* Mobile petit écran*/
@media screen and (max-width: 360px) {
  .place-tags {
    width: 25%;
    font-size: 6px;
    border-radius: 5px;
    padding: 5px;
  }
}
