.ranking {
  margin: 0.2em 0.4em 0em 0em;
  color: #e3e3e3;
  font-size: 18px;
}

.rank-colored {
  color: #ff6060;
}

/*/////Mediaqueries\\\\\\ */
/* Petit ordinateur et tablette*/
@media screen and (max-width: 900px) {
  .ranking {
    font-size: 16px;
  }
}

/* Mobile*/
@media screen and(max-width: 600px) {
  .ranking {
    font-size: 13px;
  }
}

@media screen and (max-width: 360px) {
  .ranking {
    font-size: 10px;
  }
}
