.host {
  display: flex;
  margin-right: -2vw;
}

.place-host-picture {
  border-radius: 5em;
  width: 70px;
  height: 70px;
}

.place-host-name {
  color: #ff6060;
  font-weight: 500;
  font-size: 18px;
  margin: 0.7em 1em 0em 0em;
  width: 40%;
  text-align: end;
}

/*/////Mediaqueries\\\\\\ */
/*Petit ordinateur et tablette */
@media screen and (max-width: 900px) {
  .host {
    margin-top: 2.5em;
  }
  .place-host-picture {
    width: 55px;
    height: 55px;
  }

  .place-host-name {
    font-size: 14px;
  }
}

/* Mobile */
@media screen and (max-width: 600px) {
  .host {
    margin-top: 2em;
  }
  .place-host-picture {
    width: 50px;
    height: 50px;
  }

  .place-host-name {
    font-size: 13px;
  }
}

@media screen and (max-width: 360px) {
  .place-host-picture {
    width: 40px;
    height: 40px;
  }

  .place-host-name {
    font-size: 10px;
  }
}
