.place-location {
  font-size: 16px;
  font-weight: 500;
}

.place-title {
  font-size: 24px;
  font-weight: 500;
}

/* Mediaqueries*/
/* Tablette*/
@media screen and (max-width: 900px) {
  .place-title {
    font-size: 18px;
  }
  .place-location {
    font-size: 14px;
  }
}

/* Mobile grand écran*/
@media screen and (max-width: 550px) {
  .place-title {
    font-size: 15px;
    width: 90%;
  }
  .place-location {
    font-size: 13px;
  }
}
