.div-slideshow {
  height: 415px;
}

.div-slideshow .picture-slideshow {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
  display: none;
}

.div-slideshow .picture-slideshow.visible-slideshow {
  display: block;
}
